In [5]:
import pandas as pd
# {"headers": {"Logs": ["id", "num"]}, "rows": {"Logs": [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]}}
pd.DataFrame([[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]],columns=["id", "num"]).to_csv("./Logs.txt", index=None)

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("180 consecutive_numbers").config("pyspark.sql.shuffle.partition", "4").getOrCreate()

In [6]:
logs = spark.read.option("header", True).csv("./Logs.txt")
logs.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

Write an SQL query to find all numbers that appear at least three times consecutively.

Return the result table in any order.

The query result format is in the following example.

In [68]:

logs1 = logs.alias("logs1")
logs1 = logs1.withColumnRenamed("id", "id1")
logs2 = logs.alias("logs2")
logs2 = logs2.withColumnRenamed("id", "id2")
logs.join(logs1,"num","leftouter").join(logs2,"num","leftouter").where("id+1=id1 and id1+1=id2").select("num").withColumnRenamed("num", "consecutiveNums").show()

+---------------+
|consecutiveNums|
+---------------+
|              1|
+---------------+