In [4]:
import pandas as pd
# {"headers": {"Employee": ["id", "name", "salary", "managerId"]}, "rows": {"Employee": [[1, "Joe", 70000, 3], [2, "Henry", 80000, 4], [3, "Sam", 60000, null], [4, "Max", 90000, null]]}}
pd.DataFrame([[1, "Joe", 70000, 3], [2, "Henry", 80000, 4], [3, "Sam", 60000], [4, "Max", 90000]],columns=["id", "name", "salary", "managerId"] ).to_csv("./Employee.txt", index=None)

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("employee earning more than their managers").config("pyspark.sql.shuffle.parition","4").getOrCreate()

In [29]:
emp = spark.read.option("header", True).csv("./Employee.txt")
emp = emp.withColumn("managerId",emp.managerId.cast("int"))
emp.show()

+---+-----+------+---------+
| id| name|salary|managerId|
+---+-----+------+---------+
|  1|  Joe| 70000|        3|
|  2|Henry| 80000|        4|
|  3|  Sam| 60000|     null|
|  4|  Max| 90000|     null|
+---+-----+------+---------+

Write an SQL query to find the employees who earn more than their managers.

Return the result table in any order.

The query result format is in the following example.

In [30]:
emp1 = emp.select("id","salary").withColumnRenamed("id", "managerId").withColumnRenamed("salary", "manager_salary")
emp1.show()

+---------+--------------+
|managerId|manager_salary|
+---------+--------------+
|        1|         70000|
|        2|         80000|
|        3|         60000|
|        4|         90000|
+---------+--------------+

In [34]:
emp1.join(emp, "managerId","leftouter").where("manager_salary < salary").select("id", "name").show()

+---+----+
| id|name|
+---+----+
|  1| Joe|
+---+----+