In [1]:
import pandas as pd

In [10]:
# address = [[1,2,"New York City","New York"],[2,3,"Leetcode","California"]]
# address = pd.DataFrame(address, columns=["addressId","personId","city","state"])
# address.to_csv("./Address.txt", index=None)

# person = [[1,"Wang","Allen"],[2,"Alice","Bob"]]
# person = pd.DataFrame(person, columns=["personId","lastName","firstName"])
# person.to_csv("./Person.txt", index=None)

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
    appName("local[*]").\
    config("spark.sql.shuffle.partition", "4").\
    getOrCreate()

In [13]:
person = spark.read.option("header",True).csv("./Person.txt")
person.show()

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       1|    Wang|    Allen|
|       2|   Alice|      Bob|
+--------+--------+---------+

In [14]:
address = spark.read.option("header", True).csv("./Address.txt")
address.show()

+---------+--------+-------------+----------+
|addressId|personId|         city|     state|
+---------+--------+-------------+----------+
|        1|       2|New York City|  New York|
|        2|       3|     Leetcode|California|
+---------+--------+-------------+----------+

Write an SQL query to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

The query result format is in the following example.

In [17]:
person.join(address, person.personId==address.personId, "leftouter").select("firstName", "lastName", "city", "state").show()

+---------+--------+-------------+--------+
|firstName|lastName|         city|   state|
+---------+--------+-------------+--------+
|    Allen|    Wang|         null|    null|
|      Bob|   Alice|New York City|New York|
+---------+--------+-------------+--------+