In [2]:
import pandas as pd
d = {"headers":{"Employee":["empId","name","supervisor","salary"],"Bonus":["empId","bonus"]},"rows":{"Employee":[[3,"Brad",None,4000],[1,"John",3,1000],[2,"Dan",3,2000],[4,"Thomas",3,4000]],"Bonus":[[2,500],[4,2000]]}}
pd.DataFrame(d['rows']['Employee'], columns=d['headers']['Employee']).to_csv("./Employee.txt", index=None)
pd.DataFrame(d['rows']['Bonus'], columns=d['headers']['Bonus']).to_csv("./Bonus.txt", index=None)

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("employee bonus").config("pyspark.sql.shuffle.partition","4").getOrCreate()

In [4]:
e = spark.read.option("header", True).csv("./Employee.txt")
b = spark.read.option("header", True).csv("./Bonus.txt")
e.show()
b.show()

+-----+------+----------+------+
|empId|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      null|  4000|
|    1|  John|       3.0|  1000|
|    2|   Dan|       3.0|  2000|
|    4|Thomas|       3.0|  4000|
+-----+------+----------+------+

+-----+-----+
|empId|bonus|
+-----+-----+
|    2|  500|
|    4| 2000|
+-----+-----+

Write an SQL query to report the name and bonus amount of each employee with a bonus less than 1000.

Return the result table in any order.

The query result format is in the following example.

In [5]:
e.join(b,"empId", "leftouter").where("bonus is null or bonus < 1000").show()

+-----+----+----------+------+-----+
|empId|name|supervisor|salary|bonus|
+-----+----+----------+------+-----+
|    3|Brad|      null|  4000| null|
|    1|John|       3.0|  1000| null|
|    2| Dan|       3.0|  2000|  500|
+-----+----+----------+------+-----+