In [1]:
import pandas as pd
d = {"headers":{"Players":["player_id","group_id"],"Matches":["match_id","first_player","second_player","first_score","second_score"]},"rows":{"Players":[[10,0],[15,1],[20,1],[25,1],[30,0],[35,0],[40,0],[45,1],[50,0],[55,1],[60,0],[65,0]],"Matches":[[1,10,30,2,1],[2,10,35,6,3],[3,10,40,6,0],[4,10,50,8,10],[5,10,60,10,9],[6,10,65,0,0],[7,30,35,9,10],[8,30,40,1,0],[9,30,50,9,2],[10,30,60,9,8],[11,30,65,0,1],[12,35,40,5,8],[13,35,50,9,1],[14,35,60,4,0],[15,35,65,1,1],[16,40,50,8,5],[17,40,60,7,4],[18,40,65,2,7],[19,50,60,0,10],[20,50,65,6,7],[21,60,65,8,5],[22,15,20,4,9],[23,15,25,8,8],[24,15,45,7,1],[25,15,55,6,0],[26,20,25,5,0],[27,20,45,6,0],[28,20,55,8,8],[29,25,45,9,10],[30,25,55,4,6],[31,45,55,8,0]]}}
pd.DataFrame(d['rows']['Players'], columns=d['headers']['Players']).to_csv("./Players.txt", index=None)
pd.DataFrame(d['rows']['Matches'], columns=d['headers']['Matches']).to_csv("./Matches.txt", index=None)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("tournament winners").config("pyspark.sql.shuffle.partition", "4").getOrCreate()

In [6]:
p = spark.read.option("header", True).csv("./Players.txt")
m = spark.read.option("header", True).csv("./Matches.txt")
for i in p.columns:
    p = p.withColumn(i, p[i].cast("int"))
p.printSchema()
for i in m.columns:
    m = m.withColumn(i, m[i].cast("int"))
m.printSchema()
p.show()
m.show()

root
 |-- player_id: integer (nullable = true)
 |-- group_id: integer (nullable = true)

root
 |-- match_id: integer (nullable = true)
 |-- first_player: integer (nullable = true)
 |-- second_player: integer (nullable = true)
 |-- first_score: integer (nullable = true)
 |-- second_score: integer (nullable = true)

+---------+--------+
|player_id|group_id|
+---------+--------+
|       10|       0|
|       15|       1|
|       20|       1|
|       25|       1|
|       30|       0|
|       35|       0|
|       40|       0|
|       45|       1|
|       50|       0|
|       55|       1|
|       60|       0|
|       65|       0|
+---------+--------+

+--------+------------+-------------+-----------+------------+
|match_id|first_player|second_player|first_score|second_score|
+--------+------------+-------------+-----------+------------+
|       1|          10|           30|          2|           1|
|       2|          10|           35|          6|           3|
|       3|          10|           40|          6|           0|
|       4|          10|           50|          8|          10|
|       5|          10|           60|         10|           9|
|       6|          10|           65|          0|           0|
|       7|          30|           35|          9|          10|
|       8|          30|           40|          1|           0|
|       9|          30|           50|          9|           2|
|      10|          30|           60|          9|           8|
|      11|          30|           65|          0|           1|
|      12|          35|           40|          5|           8|
|      13|          35|           50|          9|           1|
|      14|          35|           60|          4|           0|
|      15|          35|           65|          1|           1|
|      16|          40|           50|          8|           5|
|      17|          40|           60|          7|           4|
|      18|          40|           65|          2|           7|
|      19|          50|           60|          0|          10|
|      20|          50|           65|          6|           7|
+--------+------------+-------------+-----------+------------+
only showing top 20 rows

The winner in each group is the player who scored the maximum total points within the group. In the case of a tie, the lowest player_id wins.

Write an SQL query to find the winner in each group.

Return the result table in any order.

The query result format is in the following example.

In [10]:
f = m.select(m.first_player.alias("player_id"), m.first_score.alias("score"))
scores_group = m.select(m.second_player.alias("player_id"), m.second_score.alias("score")).unionAll(f).groupBy("player_id").sum("score").withColumnRenamed("sum(score)","score").join(p, "player_id", "rightouter")

from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, col

window_spec = Window.partitionBy("group_id").orderBy(col("score").desc(), "player_id")
scores_group.select("*", row_number().over(window_spec).alias("rn")).where(col("rn") == 1).select("group_id","player_id").show()

+--------+---------+
|group_id|player_id|
+--------+---------+
|       1|       20|
|       0|       60|
+--------+---------+