In [2]:
import pandas as pd
d = {"headers":{"Salary":["id","employee_id","amount","pay_date"],"Employee":["employee_id","department_id"]},"rows":{"Salary":[[1,1,9000,"2017/03/31"],[2,2,6000,"2017/03/31"],[3,3,10000,"2017/03/31"],[4,1,7000,"2017/02/28"],[5,2,6000,"2017/02/28"],[6,3,8000,"2017/02/28"]],"Employee":[[1,1],[2,2],[3,2]]}}
pd.DataFrame(d['rows']['Employee'], columns = d['headers']['Employee']).to_csv("./Employee.txt", index=None)
pd.DataFrame(d['rows']['Salary'], columns=d['headers']['Salary']).to_csv("./Salary.txt", index=None)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("students report by geography").config("pyspark.sql.shuffle.partition", "4").getOrCreate()

In [42]:
from pyspark.sql.functions import date_format, col, to_date, when
e = spark.read.option("header",True).csv("./Employee.txt")
s = spark.read.option("header", True).csv("./Salary.txt")
e.show()
s.show()

+-----------+-------------+
|employee_id|department_id|
+-----------+-------------+
|          1|            1|
|          2|            2|
|          3|            2|
+-----------+-------------+

+---+-----------+------+----------+
| id|employee_id|amount|  pay_date|
+---+-----------+------+----------+
|  1|          1|  9000|2017/03/31|
|  2|          2|  6000|2017/03/31|
|  3|          3| 10000|2017/03/31|
|  4|          1|  7000|2017/02/28|
|  5|          2|  6000|2017/02/28|
|  6|          3|  8000|2017/02/28|
+---+-----------+------+----------+

In [43]:
e = e.withColumn("employee_id", e.employee_id.cast('int')).withColumn("department_id", e.department_id.cast('int'))
s = s.withColumn("id", s.id.cast('int')).withColumn("amount", s.amount.cast('int')).withColumn("employee_id", s.employee_id.cast('int')).withColumn("pay_date", to_date("pay_date", "yyyy/MM/dd"))
e.show()
s.show()

+-----------+-------------+
|employee_id|department_id|
+-----------+-------------+
|          1|            1|
|          2|            2|
|          3|            2|
+-----------+-------------+

+---+-----------+------+----------+
| id|employee_id|amount|  pay_date|
+---+-----------+------+----------+
|  1|          1|  9000|2017-03-31|
|  2|          2|  6000|2017-03-31|
|  3|          3| 10000|2017-03-31|
|  4|          1|  7000|2017-02-28|
|  5|          2|  6000|2017-02-28|
|  6|          3|  8000|2017-02-28|
+---+-----------+------+----------+

Write an SQL query to report the comparison result (higher/lower/same) of the average salary of employees in a department to the company's average salary.

Return the result table in any order.

The query result format is in the following example.

In [47]:

company_avg = s.select("*", date_format("pay_date", "yyy-MM").alias("pay_month")).groupBy("pay_month").avg("amount").withColumnRenamed("avg(amount)", "company_avg")
e.join(s,"employee_id").select("*", date_format("pay_date", "yyy-MM").alias("pay_month")).groupBy(["pay_month","department_id"]).avg("amount").withColumnRenamed("avg(amount)", "department_avg").join(company_avg, "pay_month").withColumn("Comparison", when(col("department_avg") == col("company_avg"), "same").when(col("department_avg") <= col("company_avg"), "lower").otherwise("higher")).select("pay_month", "department_id", "comparison").show()

+---------+-------------+----------+
|pay_month|department_id|comparison|
+---------+-------------+----------+
|  2017-02|            1|      same|
|  2017-02|            2|      same|
|  2017-03|            1|    higher|
|  2017-03|            2|     lower|
+---------+-------------+----------+