In [1]:
import pandas as pd
d = {"headers":{"Activity":["player_id","device_id","event_date","games_played"]},"rows":{"Activity":[[1,2,"2016-03-01",5],[1,2,"2016-05-02",6],[2,3,"2017-06-25",1],[3,1,"2016-03-02",0],[3,4,"2018-07-03",5]]}}
pd.DataFrame(d['rows']['Activity'], columns=d['headers']['Activity']).to_csv("./Activity.txt", index=None)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("game play analysis II")\
                    .config("pyspark.sql.shuffle.partition", "4").getOrCreate()

In [3]:
a = spark.read.option("header", True).csv("./Activity.txt")
a.show()

+---------+---------+----------+------------+
|player_id|device_id|event_date|games_played|
+---------+---------+----------+------------+
|        1|        2|2016-03-01|           5|
|        1|        2|2016-05-02|           6|
|        2|        3|2017-06-25|           1|
|        3|        1|2016-03-02|           0|
|        3|        4|2018-07-03|           5|
+---------+---------+----------+------------+

In [5]:
a = a.withColumn("player_id", a.player_id.cast('int'))\
        .withColumn("device_id", a.device_id.cast('int'))\
        .withColumn("games_played", a.games_played.cast('int'))\
        .withColumn("event_date", a.event_date.cast('date'))

Write an SQL query to report the device that is first logged in for each player.

Return the result table in any order.

The query result format is in the following example.

In [7]:
import pyspark.sql.functions as F
first_login = a.groupBy("player_id").agg(F.min("event_date")).withColumnRenamed("min(event_date)", "first_login")
a.join(first_login, "player_id", "leftouter").where("first_login = event_date").select("player_id", "device_id").show()

+---------+---------+
|player_id|device_id|
+---------+---------+
|        1|        2|
|        2|        3|
|        3|        1|
+---------+---------+